<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mnc="http://www.springframework.org/schema/mvc"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceXmlLocation" value="classpath:/META-INF/persistence.xml" />
        <property name="persistenceUnitName" value="Main"/>
        <property name="jpaVendorAdapter" ref="vendorAdapter"/>
    </bean>

    <bean id="vendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="generateDdl" value="true"/>
        <property name="database" value="MYSQL"/>
    </bean>


    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


    <security:http>
        <security:intercept-url pattern="/" access="permitAll"/>


       <security:intercept-url pattern="/flat/add/*" access="hasRole('ROLE_ADMIN')"/>
       <security:intercept-url pattern="/flat/add" access="hasRole('ROLE_ADMIN')"/>
       <security:intercept-url pattern="/flats/all/*" access="hasRole('ROLE_ADMIN')"/>
       <security:intercept-url pattern="/flat/editpage/**" access="hasRole('ROLE_ADMIN')"/>
       <security:intercept-url pattern="/flat/edit" access="hasRole('ROLE_ADMIN')"/>
       <security:intercept-url pattern="/flat/delete/**" access="hasRole('ROLE_ADMIN')"/>
       <security:intercept-url pattern="/flat/buypage/{houseId}/{customerId}" access="hasRole('ROLE_ADMIN')"/>
       <security:intercept-url pattern="/flat/buy" access="hasRole('ROLE_ADMIN')"/>
       <security:intercept-url pattern="/flat/takepage/**" access="hasRole('ROLE_ADMIN')"/>
       <security:intercept-url pattern="/flat/take" access="hasRole('ROLE_ADMIN')"/>

        <security:intercept-url pattern="/customers/**" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/customer/**" access="hasRole('ROLE_ADMIN')"/>

        <security:intercept-url pattern="/pantries/**" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/pantry/**" access="hasRole('ROLE_ADMIN')"/>

        <security:intercept-url pattern="/parkings/**" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/parking/**" access="hasRole('ROLE_ADMIN')"/>

        <security:intercept-url pattern="/schedules/**" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/schedule/**" access="hasRole('ROLE_ADMIN')"/>

        <security:intercept-url pattern="/payments/**" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/payment/**" access="hasRole('ROLE_ADMIN')"/>

        <security:intercept-url pattern="/houses/addpage" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/houses/add" access="hasRole('ROLE_ADMIN')"/>

        <security:csrf disabled="true"/>
        <security:form-login login-page="/loginpage" login-processing-url="/loginprocessing"/>
        <security:logout logout-success-url="/"/>
    </security:http>

    <security:authentication-manager>

        <security:authentication-provider>
            <security:user-service>
                <security:user name="admin" password="admin" authorities="ROLE_ADMIN"/>
            </security:user-service>
        </security:authentication-provider>

        <security:authentication-provider user-service-ref="customerServiceImpl">
        </security:authentication-provider>

    </security:authentication-manager>


    <mnc:annotation-driven/>
    <context:component-scan base-package="ua.lv.hoy.*"/>
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <mvc:resources mapping="/resources/**" location="/resources/"/>

</beans>





